header{
    background-color: lightblue;
    padding: 1px;
    margin: 20px;
    text-align: center;
    border: 1px solid black;
}
footer{
    text-align: center;
}

section.details{
    /* background-color: lightcoral; */
    padding: 1px;
    margin: 20px;
    text-align: center;
}
.img{

    width: 100%;
    height: 100%;
}
.img2{

    width: 100%;
    height: 250px;
    text-align: center;
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times,;
    padding: 1px;
    margin: 20px;
}
footer{
    background-color: lightblue;
    padding: 1px;
    margin: 20px;
    text-align: center;
}
main{
    background-color: rgb(255, 255, 255);
    margin: 20px;
}